header {
	background-color: #439A00;
	margin-top: -93px;
}

@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
	background-color: white;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	margin-top: 70px;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #ffffff;
}

p {
	line-height: 28px;
	margin-bottom: 25px; 
}

.content {
	padding-top: 20px
}

.content p {
	text-align: left;
}

.phone p {
	color: #ffffff
}

a {
	color: #ffffff;
}

a:hover, a:focus {
	color: #091099;
	text-decoration: none;
	outline: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

i {
	color: #ffffff;
}

.mobilemassage p {
	text-align: center;
	padding-top: 10px;
}

ul,
ul li,
ul li a,
ul li a span {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	list-style-type: none;
}

img {
	padding: 0;
	margin: 0;
}

.photo {
	padding-top: 20px;
	text-align: center;
}

@media (max-width: 799px) {
.photo img, .sl_slide {
	padding-left: 0;
	margin-left: 0;
	width: 95%;
}}

.glyphicon {
	color: #439A00
}

section {
	flex-grow: 1
}

footer {
	height: 50px;
	background-color: #439A00;
}

footer p {
	padding-left: 20px;
	color: #ffffff;
}

/*.btn-group:hover {
	
	-webkit-transition: all 2.0s ease;
	-moz-transition: all 2.0s ease;
	-o-transition: all 2.0s ease;
	-ms-transition: all 2.0s ease;
	transition: all 2.0s ease;
	background-color: #439A00;
}

.btn-group ul a:hover {
	color: #439A00;
	transition: 0.5s all;
	padding-left: 30px;
}
*/

.sl {
	max-width: 90%;
	margin: 20px auto;
}

.sl_slide {
	position: relative;
	width: 400px;
}

.sl_text {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 400px;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	padding: 20px 0;
}

.sl_zag, .sl_desc {
	margin: 0;
	padding: 0 10px;
}

.slick-dots li button {
	border: 2px solid #777;
	border-radius: 50%;
	-webkit-transition: border-color .3s;
	-o-transition: border-color .3s;
	transition: border-color .3s;
}

.slick-dots li button:before {
	content: '';
	width: 10px;
	height: 10px;
	background: #777;
	opacity: 1;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -5px;
	-webkit-transition: background .3s;
	-o-transition: background .3s;
	transition: background .3s;
}

.slick-dots li button:hover,
.slick-dots li.slick-active button {
	border-color: #439A00;
}

.slick-dots li button:hover:before,
.slick-dots li.slick-active button:before {
	background: #439A00;
}

.slick-prev, .slick-next {
	z-index: 1001;
	width: 32px;
	height: 32px;
}

.slick-prev:before, .slick-next:before {
	font-size: 32px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.slick-prev {
	left: -32px;
}

.slick-next {
	right: -5px;
}

.slick-center {
	width: 100%
}

.side {
	width: 63px;
	margin: 20px;
	margin-bottom: 50px;
}

.side a {
	text-decoration: none;
}

.side ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.side .menu a {
	
	background: #439A00;
	color: #fff;
	padding: 10px;
	display: block;
	border: 1px solid #fff;
	
	border-radius: 4px;
	transition: 0.5s all;
}

.side .menu__drop a:hover {
	
	background: #439A00;
	padding: 10px 0 10px 20px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.menu__list {
	position: relative;
}

.menu__drop {
	position: absolute;
	width: 200px;
	left: 100%;
	top: -9999em;
	opacity: 0;
	border-left: 10px solid transparent;
	transition: 0.5s opacity;
}

.menu__list:hover .menu__drop {
	opacity: 1;
	top: 0;
}